h1 {
  font-size: 30px;
  color: #555;
  font-weight: 300;
}
.nav {
  margin: 50px;
  width: 30%;
}
.link {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  color: black;
}
a .active {
  font-weight: 500;
}
